.content {
  width: 50%;
  background-color: var(--main-text-background);
  padding: 3rem;

  &__main-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  &__subtitle {
    font-size: 1.2rem;
    opacity: 0.65;
    margin: 1rem 0;
  }
  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
}

hr {
  border-top: 1px solid var(--minor-text-color);
  opacity: 0.3;
  border-radius: 5px;
  margin: 2rem 0;
}

.experience {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 3rem;
  @include mq_max($medium) {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &__date {
    width: 40%;
    flex-direction: column;
    @include mq_max($medium) {
      width: 100%;
      margin-bottom: 1rem;
    }

    &-badge {
      position: relative;
      background-color: var(--primary-color);
      padding: 0.3rem 0.8rem;

      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -0.8rem;
        border-width: 0.8rem;
        border-style: solid;
        border-color: transparent transparent transparent var(--primary-color);
      }
    }
  }
  &__details {
    width: 60%;
    flex-direction: column;
    @include mq_max($medium) {
      width: 100%;
    }

    &-title {
      font-size: 1rem;
      margin-bottom: 0.8rem;
    }
    &-company {
      opacity: 0.65;
      margin-bottom: 0.8rem;
      & > a {
        text-decoration: none;
        &:hover {
          color: var(--minor-text-color);
        }
      }
    }
    &-description {
      line-height: 1.2rem;
      margin: 1rem 0;
    }
    &-task-list {
      list-style-type: disc;
      margin-left: 1rem;
    }
    &-task {
      line-height: 1.2rem;
      margin: 0.5rem 0;
    }
  }
}
