
.info-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $primary-color;
  padding: 1rem;
  width: 15%;
  height: 100%;
  margin: 0 2.1%;
  box-shadow: -4px 7px 15px 1px rgba(118, 95, 91, 0.34);
  @include mq_max($medium) {
    display: inline-flex;
    width: 64%;
    align-items: center;
    margin-bottom: 20px;
  }

  &__avatar {
    margin: 1rem 0;
    img {
      width: 70%;
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 1.38rem;
    margin-bottom: 1rem;
  }
  &__job {
    color: #69797b;
    margin-bottom: 1rem;
  }
  &__social {
    &-list {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      color: #69797b;
    }

    &-item {
      position: relative;

      &-icon {
        color: $color-black;
        height: 15px;
      }

      &-tooltip {
        position: absolute;
        bottom: 27px;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
        background-color: $color-white;
        color: $color-black;
        text-align: center;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 1;
        box-shadow: -4px 7px 15px 1px rgba(118, 95, 91, 0.34);

        &:after {
          content: " ";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: $color-white transparent transparent transparent;
        }
      }

      &:hover .info-card__social-item-tooltip {
        visibility: visible;
      }
    }
  }
}