body {
  font-family: $fontFamily;
  font-size: 13px;
  background-color: var(--primary-background-color);
  color: var(--main-text-color);

  // light theme colors
  --primary-color: #c0e3e7;
  --polygon-color: #e2e2e2;
  --primary-background-color: #f3f3f3;
  --main-text-color: #332f2f;
  --minor-text-color: #8c8c8c;
  --main-text-background: #ffffff;

  &.dark {
    // dark theme colors
    --primary-color: #1FA184;
    --polygon-color: #0F171B;
    --primary-background-color: #121F26;
    --main-text-color: #ffffff;
    --minor-text-color: #0F171B;
    --main-text-background: #313C42;
  }
}

.polygon {
  position: fixed;
  z-index: $background-z-index;

  &-right {
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 200px 250px 0;
    border-color: transparent var(--primary-color) transparent transparent;
  }
  &-left {
    top: 90px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 250px 0 40px 250px;
    border-color: transparent transparent transparent var(--polygon-color);
  }
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 80px 0;
  justify-content: center;
  @include mq_max($medium) {
    flex-wrap: wrap;
  }
}

.footer {
  position: relative;
  text-align: center;
  bottom: 40px;
}
